:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  
}

h2, h4, h5{
  text-align: center;
}
/* TITLE AND NAV */



.head-container {
  background-color: black;
  max-width: 1250px;
  height: 100px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  

}
.image-left {
  padding-left: 10px;
  height: 30px;

}
.navbar-right {
  text-decoration: none;
  padding-top: 30px;
  color: seashell;
  opacity: 0.9;

  
}
.navbar-right a {
  margin-right: 20px;
  text-decoration: none;
  color: seashell;
  opacity: 0.9;
  transition: all 0.3s ease 0s;
}
.navbar-right a:hover {
  color: rgba(210, 196, 49, 0.8);
  
}








/* MISSION SECTION */

.mission-container {
  height: 700px;
  max-width: 1200px;
  
  
}
#mission-image {
  margin: auto 25px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/img-mission-background.jpg");
}
.our-mission {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-text {
  background-color: black;
  width: 1200px;
}

/* TEA OF THE MONTH  */
.tea-of-the-month {
  max-width: 1000px;
  margin-left: 100px;

}

.tea-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.month {
  height: 200px;
  width: 300px;
}

/* LOCATIONS */

.location-container {
  height: 500px;
}

#location-image {
  margin-left: 25px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/img-locations-background.jpg) ;
  
}
.location {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.haichau {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  
}
.mykhe {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
}
.hoian {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  
}


/* FOOTER  */
h6 {
  text-align: left;
  margin-left: 20px;
}

form {
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  color: seashell;
  opacity: 0.9;
  font-weight: 700;
}
input[type=submit] {
  background-color: seashell;
  color: black;
  border-radius: 15%;
  padding: 8px 12px;
  font-family: Helvetica;
  border: none;
  text-decoration: none;
}
input[type=email] {
  border-radius: 5px;
  padding: 6px;
  background-color: seashell;
}
