:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  
}

h2, h4, h5{
  text-align: center;
}
/* TITLE AND NAV */

.head-container {
  display: flex;
  justify-content: space-between;
}

.image-left {
  padding-left: 10px;

  
}

nav {
  padding-top: 30px;
  padding-right: 30px;
}
a {
  color: seashell;
  opacity: 0.9;
  text-decoration: underline;
  margin-right: 15px;
}

/* MISSION SECTION */

.mission {
  position: relative;
  margin-top: 50px;
}
.mission-background {
  margin-left: 25px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-image: url("images/img-mission-background.jpg");
}
.mission-text {
  position: absolute;
  width: 100%;
  background-color: black;
  text-align: center;
  top: 50%;
}

/* TEA OF THE MONTH  */
.tea-of-the-month {
  width: 1000px;
  margin-left: 100px;

}

.tea-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.month {
  height: 200px;
  width: 300px;
}

/* LOCATIONS */

.location-container {
  height: 500px;
}

#location-image {
  margin-left: 25px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/img-locations-background.jpg) ;
  
}
.location {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.haichau {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  
}
.mykhe {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
}
.hoian {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  
}


/* FOOTER  */
h6 {
  text-align: left;
  margin-left: 20px;
}

