:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  
}

h2, h4, h5{
  text-align: center;
}
/* TITLE AND NAV */



.head-container {
  background-color: black;
  width: 1250px;
  position: fixed;
  height: 100px;
  border-bottom: 1px solid seashell;
 

}
.image-left {
  float: left;
  padding-left: 10px;
  height: 30px;

}
nav a {
  float: right;
  padding-right: 20px;
  padding-top: 35px;
  text-decoration: underline;
  color: seashell;
  opacity: 0.9;
  text-decoration: underline;
}

.image-left {
  padding-left: 10px;

} 




/* MISSION SECTION */

.mission-container {
  height: 700px;
  width: 1200px;
  
  
}
#mission-image {
  margin: auto 25px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/img-mission-background.jpg");
}
.our-mission {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-text {
  background-color: black;
  width: 1200px;
}

/* TEA OF THE MONTH  */
.tea-of-the-month {
  width: 1000px;
  margin-left: 100px;

}

.tea-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.month {
  height: 200px;
  width: 300px;
}

/* LOCATIONS */

.location-container {
  height: 500px;
}

#location-image {
  margin-left: 25px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/img-locations-background.jpg) ;
  
}
.location {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.haichau {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  
}
.mykhe {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
}
.hoian {
  background-color: black;
  height: 300px;
  width: 300px;
  text-align: center;
  
}


/* FOOTER  */
h6 {
  text-align: left;
  margin-left: 20px;
}

